BasedOnStyle: Google
Language: Cpp
Standard: c++17
IndentWidth: 2
ColumnLimit: 100
SortIncludes: true
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: None
AccessModifierOffset: -1
